<footer class=" text-center text-white" style="background-color:#212529;">
    <!-- Grid container -->
    <div class="container p-4">

      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
            class="fa fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
            class="fa fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i
            class="fa fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/dniero95/LearningByProject" role="button"><i
            class="fa fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links -->
      <section class="links">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-offset-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Link utili</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://wordleitaliano.com/" class="text-white">Wordle Italiano</a>
              </li>
              <li>
                <a href="documentation.html" class="text-white">Documentazione</a>
              </li>
              <li>
                <a href="aboutUs.html" class="text-white">Chi siamo</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-offset-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contatti</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <p><i class="fa fa-home me-3"></i>Torino, Piazza 2, via J. Durandi 10
                </p>
              </li>
              <li>
                <p><i class="fa fa-envelope me-3"></i>info@coffeetech.it
                </p>
              </li>
              <li>
                <p><i class="fa fa-desktop me-3"></i>www.coffeetech.it
                </p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Copyright CoffeeTech © 2022. All rights reserved.
    </div>
    <!-- Copyright -->

  </footer>