<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- homemade css -->
  <link rel="stylesheet" href="css/styleDocumentationAboutUS.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- page icon -->
  <link rel="shortcut icon" href="img/ico.ico" type="image/x-icon" />
  <!-- fa icon -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>About Us</title>
</head>

<body>
  <!-- start navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="img/logo/CoffeeTechw.png" alt="logo">
      <a class="navbar-brand" href="#">CoffeeTech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="docs">Documentazione</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->

  <h1 id="pageTitle"><span class="badge bg-dark">About Us</span></h1>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <!-- carousel -->
        <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <!-- card Riccardo -->
              <div class="card team" style="width: 18rem;">
                <img src="img/Riccardo.jpg" class="card-img-top" alt="..." style="border-radius: 50%;">
                <div class="card-body">
                  <p class="card-text">Degusto bevande ricavate dal fiocino della vite</p>
                </div>
              </div>
              <!-- /card Riccardo -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Riccardo Rapelli</h5>
                <p>Java Back End Developer</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <!-- card Dario -->
              <div class="card team" style="width: 18rem;">
                <img src="img/Dario.jpeg" class="card-img-top" alt="..." style="border-radius: 50%;">
                <div class="card-body">
                  <p class="card-text">Nel tempo libero gioco a Magic e Dungeons and Dragons</p>
                </div>
              </div>
              <!-- /card Dario -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Dario Niero</h5>
                <p>Project Manager, Java Developer</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <!-- card Fabio -->
              <div class="card team" style="width: 18rem;">
                <img src="img/Fabio.jpg" class="card-img-top" alt="..." style="border-radius: 50%;">
                <div class="card-body">
                  <p class="card-text">Ho una passione per la musica e per ogni progetto</p>
                </div>
              </div>
              <!-- /card Fabio -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Fabio Leoni</h5>
                <p>Front End Developer and Designer</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <!-- card Matteo -->
              <div class="card team" style="width: 18rem;">
                <img src="img/Matteo.jpg" class="card-img-top" alt="..." style="border-radius: 50%;">
                <div class="card-body">
                  <p class="card-text">Gamer appassionato e amante della programmazione</p>
                </div>
              </div>
              <!-- /card Matteo -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Matteo Sommer</h5>
                <p>Database Administrator.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <!-- card Alessia -->
              <div class="card team" style="width: 18rem;">
                <img src="img/Alessia.jpg" class="card-img-top" alt="..." style="border-radius: 50%;">
                <div class="card-body">
                  <p class="card-text">Amante degli Animali e della Tecnologia</p>
                </div>
              </div>
              <!-- /card Alessia -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Alessia Tullio</h5>
                <p>Front End Developer, Documentation Designer.</p>
              </div>
            </div>
          </div><!-- /.carousel-inner -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- /carousel -->
      </div> <!-- coloumn 6 -->
      <!-- what-we-do -->
      <div class="card col-6">
        <h3 class="card-header">Di cosa ci occupiamo</h3>
        <div class="card-body d-flex align-items-center">
          <p class="">CoffeeTech srl è un' azienda giovane e determinata. Proponiamo servizi e soluzioni IT, volti a
            semplificare la vita aziendale dei nostri clienti. Nei nostri progetti seguiamo le metodologie di sviluppo
            software Agile, suddividendo il piano di lavoro in micro-task indipendenti da assegnare a piccoli gruppi di
            lavoro specializzati, e confrontandoci costantemente con il cliente, così da renderlo partecipe dello
            sviluppo del software offrendo la possibilità di integrare modifiche in qualsiasi momento.</p>
        </div>
      </div> <!-- /what-we-do-->
    </div> <!-- row -->
  </div>
  <!--container-->



  <div class="container tecnologie">
    <div class="row">
      <div class="col-6">
        <!-- tools -->
        <div class="card ">
          <h3 class="card-header">I nostri strumenti</h3>
          <div class="card-body d-flex align-items-center">
            <ul>
              <p>Alcuni degli strumenti maggiormente utilizzati dal nostro team:</p>
              <li>Java: Tutt'ora uno dei linguaggi di programmazione più popolari, in particolare per le applicazioni
                web client-server.</li>
              <li>MySql: Il noto sistema di gestione di database relazionali SQL sviluppato e supportato da Oracle.</li>
              <li>Git: Sistema di version control che facilita la collaborazione simultanea di più sviluppatori su uno
                stesso progetto.</li>
              <li>Html/CSS/JS: Le tre tecnologie alla base del front-end.</li>
            </ul>
          </div> <!-- /.card-body -->
        </div> <!-- /tools -->
      </div> <!-- coloumn 6-->
      <!-- carousel -->
      <div id="carouselExampleCaptions1" class="carousel slide col-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1"
            aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2"
            aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="3"
            aria-label="Slide 9"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <!-- card Java -->
            <div class="card strumenti" style="width: 18rem;">
              <img src="./img/java-logo.png" class="card-img-top" alt="..." style="border-radius: 50%;">
              <div class="card-body">
              </div>
            </div>
            <!-- /card Java -->
            <div class="carousel-caption d-none d-md-block">
              <h5>Java</h5>
              <p>Back-end</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- card MySql -->
            <div class="card strumenti" style="width: 18rem;">
              <img src="./img/mysql-logo.jpg" class="card-img-top" alt="..." style="border-radius: 50%;">
              <div class="card-body">
              </div>
            </div>
            <!-- /card mysql -->
            <div class="carousel-caption d-none d-md-block">
              <h5>MySql</h5>
              <p>Database</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- card Git -->
            <div class="card strumenti" style="width: 18rem;">
              <img src="./img/git-logo.png" class="card-img-top" alt="..." style="border-radius: 50%;">
              <div class="card-body">
              </div>
            </div>
            <!-- /card Git -->
            <div class="carousel-caption d-none d-md-block">
              <h5>Git</h5>
              <p>Version control</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- card HTML -->
            <div class="card strumenti" style="width: 18rem;">
              <img src="./img/html-css-js-logo.jpeg" class="card-img-top" alt="..."
                style="border-radius: 50%;">
              <div class="card-body">
              </div>
            </div>
            <!-- /card HTML -->
            <div class="carousel-caption d-none d-md-block">
              <h5>HTML/css/javascript</h5>
              <p>Front-end</p>
            </div>
          </div>
        </div>
        <!-- carousel-button -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><!-- /carousel -->
    </div> <!-- /row -->
  </div>
  <!--/container-->

  <!-- Footer -->
  <footer class=" text-center text-white" style="background-color:#212529;">
    <!-- Grid container -->
    <div class="container p-4">

      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
            class="fa fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
            class="fa fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i
            class="fa fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/dniero95/LearningByProject" role="button"><i
            class="fa fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links -->
      <section class="links">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-offset-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Link utili</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://wordleitaliano.com/" class="text-white">Wordle Italiano</a>
              </li>
              <li>
                <a href="documentation.html" class="text-white">Documentazione</a>
              </li>
              <li>
                <a href="aboutUs.html" class="text-white">Chi siamo</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-offset-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contatti</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <p><i class="fa fa-home me-3"></i>Torino, Piazza 2, via J. Durandi 10
                </p>
              </li>
              <li>
                <p><i class="fa fa-envelope me-3"></i>info@coffeetech.it
                </p>
              </li>
              <li>
                <p><i class="fa fa-desktop me-3"></i>www.coffeetech.it
                </p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Copyright CoffeeTech © 2022. All rights reserved.
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- end of body! -->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
