<%- include('./includes/head.ejs') %>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- homemade css -->
  <link rel="stylesheet" href="css/styleDocumentationAboutUS.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- page icon -->
  <link rel="shortcut icon" href="img/ico.ico" type="image/x-icon" />
  <!-- fa icon -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
  <!-- start navbar -->
  <%- include('./includes/nav.ejs') %>
  <!-- end navbar -->

  <h1 id="pageTitle"><span class="badge bg-dark">Documentazione</span></h1>
  <!-- wordle-description -->
  <div class="card col-10">
    <h3 class="card-header">Wordle Solver By CoffeTech</h3>
    <div class="card-body d-flex align-items-center">
      <p class="">
        Il Wordle solver - By CoffeeTech è la nostra soluzione software ideata appositamente per te! Grazie al nostro
        algoritmo saprà aiutarti a risolvere più velocemente il noto word-puzzle. <br>
        <br> <em>Ma cos'è "Wordle"?</em> <br>
        "Wordle" è un web-puzzle il cui scopo è indovinare una misteriosa parola segreta. Graficamente è costituito da
        una griglia di 6 righe (una per ciascun tentativo) per 5 colonne(una per ogni lettera della parola).
        Dopo ciascun tentativo le lettere della parola immessa cambieranno colore: verde per le lettere corrette in
        posizione esatta; giallo per le lettere corrette in posizione errata; grigio per lettere non presenti nella
        parola segreta.<br>
        <br> <em>Come aiuterà il nostro risolutore "Wordle"?</em><br>
        Dopo il primo tentativo di gioco, all'utente basterà inserire gli aiuti restituiti da "wordle" all'interno del
        software, lui si occuperà del resto, restituendo all'utente un elenco di possibili parole, sempre più precise
        proporzionalmete al numero di tentativi effettuati.
      </p>
    </div>
  </div> <!-- /wordle-description -->

  <!-- solver-web-description -->
  <div class="card col-10">
    <a name="InterfacciaWeb"></a> <!-- internal-anchor -->
    <h3 class="card-header">Modalità di utilizzo - Interfaccia web</h3>
    <div class="card-body d-flex align-items-center">
      <p class="">
      <ol>
        <li>Recati all'indirizzo web del gioco Wordle, puoi trovarlo a <a href="https://wordleitaliano.com/"
            target="_blank">questo indirizzo</a>. <br>

        </li>
        <li>In una nuova scheda del browser apri il nostro solver, puoi farlo <a href="./index.html"
            target="_blank">cliccando qui</a>.</li>
        <li>Inserisci nel gioco una parola iniziale e premi "Invio"; ti suggeriamo di scegliere una parola con molte
          vocali.</li>
        Supponiamo di inserire la parola "presa" e che Wordle ti restituisca questo:<br>
        <kbd style="background-color:green;color:black">P</kbd> <kbd style="background-color:yellow;color:black">R</kbd>
        <kbd style="background-color:grey;color:black">E</kbd> <kbd style="background-color:grey;color:black">S</kbd>
        <kbd style="background-color:green;color:black">A</kbd>
        <li>Torna sul nostro solver e inserisci nella prima riga(partendo da sinistra) le lettere presenti in posizione
          errata (quelle in giallo); se il gioco non ne ha trovate non ti preoccupare e passa al punto successivo.</li>
        Ad esempio: <br>
        <kbd style="background-color:yellow;color:black">R</kbd>
        <li>Inserisi nella seconda riga(partendo da sinistra) le lettere non presenti(quelle in grigio); se il gioco
          non ne ha trovate ignora questo punto.</li>
        Ad esempio: <br>
        <kbd style="background-color:grey;color:black">E</kbd> <kbd style="background-color:grey;color:black">S</kbd>
        <li>Inserisci infine nell'ultima riga le lettere corrette in posizione esatta(quelle in verde), questa volta
          stando attento a inserirle nella casella corretta:</li>
        <kbd style="background-color:green;color:black">P</kbd>+<kbd
          style="background-color:green;color:black"></kbd>+<kbd style="background-color:green;color:black"></kbd>+<kbd
          style="background-color:green;color:black"></kbd>+<kbd style="background-color:green;color:black">A</kbd>
        <li>Premi "filtra soluzioni", scegli una parola casuale tra quelle proposte nel riquadro a destra(sotto la voce
          "Soluzioni") e testala nel gioco: se non è la parola corretta riprendi dal punto 4.</li>
        <li>Continua finchè non avrai ottenuto la parola esatta, ti basteranno in media circa tre tentativi.</li>
      </ol>
      </p>

    </div>
  </div> <!-- /solver-web-description -->

  <!-- solver-console-description -->
  <div class="card col-10">
    <a name="InterfacciaConsole"></a> <!-- internal-anchor -->
    <h3 class="card-header">Modalità di utilizzo - Interfaccia console</h3>
    <div class="card-body d-flex align-items-center">
      <p class="">
      <ol>
        <li>Apri "Eclipse". All'interno del riquadro "Package Explorer"(solitamente sulla sinistra) clicca con il tasto
          destro del mouse su "WordleDemo" --> "Run As" --> "Spring Boot App". <br></li>
        <img class="screen-console" src="./img/screen1.png" alt="immagine esplicativa">
        <li>In una scheda del browser apri il nostro solver, puoi farlo <a href="./index.html" target="_blank">cliccando
            qui</a>.</li>
        <li>Inserisci nel gioco una parola iniziale (nel riquadro "Console" di Eclipse ti apparirà un elenco di parole
          possibili) e premi "Invio"; ti suggeriamo di scegliere una parola con molte
          vocali.</li>
        Supponiamo di inserire la parola "presa" e che Wordle ti restituisca questo:<br>
        <kbd style="background-color:green;color:black">P</kbd> <kbd style="background-color:yellow;color:black">R</kbd>
        <kbd style="background-color:grey;color:black">E</kbd> <kbd style="background-color:grey;color:black">S</kbd>
        <kbd style="background-color:green;color:black">A</kbd>
        <li>Torna nel nostro solver; nella Console potrai iniziare inserendo le lettere della parola corrette nella
          posizione esatta (quelle in verde), al posto di tutte le altre lettere inserisci un punto. Se Wordle non ti ha
          restituito nessuna lettera in verde inserisci cinque punti. Premi "Invio".<br>
          Nel nostro esempio dovrai inserire: "p...a"
          <img class="screen-console" src="./img/screen2.png" alt="immagine esplicativa">
        <li>Inserisci le lettere presenti, ma in posizione errata. Anche in questo caso usa un punto per sostiuire le
          altre lettere. </li>
        Ad esempio: ".r..." <br>
        <img class="screen-console" src="./img/screen3.png" alt="immagine esplicativa">
        <li>Inserisci infine le lettere non presenti, questa volta senza dover indicare la posizione.</li>
        Ad esempio: "es"
        <img class="screen-console" src="./img/screen4.png" alt="immagine esplicativa">
        <li>Ti apparirà una lista di lettere errate da te inserite, seguita da una lista di possibili soluzioni. Scegli
          una parola e testala nel gioco: se non è la parola corretta riprendi dal punto 4.</li>
        <img class="screen-console" src="./img/screen5.png" alt="immagine esplicativa">
        <li>Continua finchè non avrai ottenuto la parola esatta, ti basteranno in media circa tre tentativi.</li>
      </ol>
      </p>
    </div>
    <img src="./Immagini/BuonGioco.png" style="height: 120px; margin: auto;" alt="Buon Gioco!">
  </div> <!-- /solver-console-description -->



  <!-- Footer -->
  <%- include('./includes/footer.ejs') %>
  <!-- Footer -->


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
<%- include('./includes/end.ejs') %>
